.custombutton{
    -fx-background-image: url('../../st1/assets/sign.png');
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-position: center, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain, auto;
    -fx-background-insets: 20;
    -fx-font-size: x-large;
    -fx-font-family: "JetBrains Mono"
}
.custombutton:hover {
    -fx-text-fill: cyan;
}
.itemslot {
    -fx-background-image: url('../assets/itemslot.png');
    -fx-background-color: transparent;
    -fx-background-position: center, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain, auto;
}

/*rgb(211, 211, 211, .5);*/
.boiler-checklist{
    -fx-background-image: url('../assets/clipboard-nobackground.png');
    /*-fx-background-color: rgb(255, 255, 255, .5); */
    -fx-padding: 64px;
    -fx-border-radius: 5px;
    -fx-background-position: center, center;
    -fx-background-size: contain, auto;
    -fx-background-repeat: no-repeat;
}

.bottombar {
    -fx-background-image: url('../assets/plank.png');
    /*-fx-background-color: rgb(255, 255, 255, .5); */
    -fx-background-color: black;

    -fx-background-position: center, center;
    -fx-background-size: contain, auto;
}

.messagebox {
    -fx-background-color: lightgray;
    -fx-background-radius: 5px;
    -fx-padding: 3px;
}

.npcmessagebox {
    -fx-background-color: white;
    -fx-padding: 15px;
    -fx-background-radius: 10px;
    -fx-border-color: rgb(100, 116, 139);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}
